*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;  
}

.container{
  display: flex;
  flex-direction: column;
  width: inherit;
  height: inherit;
  justify-content: center;
  align-items: center;
}



.btn-change{
  font-size: 16px;
  padding: 5px 10px;
  border:2px solid #ccc;
  border-radius: 10px;
  
}

.btn-change:focus{
  outline: none;
}

.color-text{
  text-align: center;
  margin: 10px;
  font-size: 25px;
  font-weight: 500;
}





